# Virtual environments
.venv/

# IDE configs
.idea/
.vscode/

# Ignore MacOS system files
.DS_Store

# Python
__pycache__/
*.egg-info/
.python-version

# Jupyter test files
*.ipynb_checkpoints/
*.ipynb

# Data vectors and results
vectors*/
results/
*.png
*.pdf
*.zip
*.csv

# Models
# models/
# *.pt
# *.pth

# Other
roadmap.md






